*{
    margin: 0px;
    padding: 0px;
}
    /* General parameters about all elements */
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #F4F6F3;
}
    /* Parameters of the body */
a{
    text-decoration: none;
    color: black;
}
    /* General parameters of the links */
li{
    list-style: none;
}
    /* General parameters of the li */

h2{
    font-size: 25px;
    font-weight:500 ;
    letter-spacing: 2px;
}
        /*General parameters of the h2*/

.line-large{
    background-color: black;
    width: 55px;
    height: 4px;
    margin: 15px 0 0 0;
}
            /*General parameters of the larger lines*/

header {
    display:flex;
    justify-content: space-between;
    height: 0px;
}
    /* Parameters of the header */
#logo {
    font-size: 22px;
    font-weight: 800;
    margin: 45px 0 10px 40px;
}
    /*Parameters of the logo Lo on the left top corner of the website */

header nav {
    margin: 45px 0 0 0;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-around;
    width: 500px;
}
    /*Parameters of the nav of the header*/

header nav ul{
    display: flex;
    justify-content: space-around;
    width: 400px;

}
    /*Parameters of the ul in the nav of the header*/

#link-border {
    border: 2px solid black;
    font-size: 13px;
    letter-spacing: 2px;
    padding: 10px 22px 7px 22px;
    border-radius: 2.5px;
}
    /* Parameters of the link "SUBSCRIBE" */

.primary-section{
    background-image: url(../images/vecteezy_top-view-monstera-other-leaves-with-copy-space-high-quality-beautiful-photo-concept_2996065.jpg);
    background-color: initial;
    background-size: cover;
    height: 800px;
    border: 20px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    /*Parameters of the section of the "LOREM ipsum dolor" h1 */

.primary-section h1{
    font-size: 100px;
    letter-spacing: 2px;
}
    /*Parameters of the h1 "LOREM "  in the primary section */



.secondary-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 700px;
}
    /*Parameters of the sections with the three plants cards*/



.plants-bloc{
    width: 80%;
    height: 396px;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0 auto;
}

.plants-bloc figure {
    width: 300px;
    height: 100%;
    text-align: center;
    box-shadow: 0px 9px 38px -7px #0000007a, 0px 32px 25px -27px #00000047;
}

.plants-bloc figure img{
    object-fit: contain;
    width: 100%;
}

.plants-bloc p{
    margin: 20px 0 10px 0;
}


.tertiary-figure, .quaternary-section, footer{
    display: none;
}






