*{
    margin: 0px;
    padding: 0px;
}
    /* General parameters about all elements */
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
}
    /* Parameters of the body */
a{
    text-decoration: none;
    color: black;
}
    /* General parameters of the links */
li{
    list-style: none;
}
    /* General parameters of the li */

h2{
    font-size: 25px;
    font-weight:500 ;
    letter-spacing: 2px;
}
    /*General parameters of the h2*/

.line-large{
    background-color: black;
    width: 55px;
    height: 4px;
    margin: 15px 0 0 0;
}
    /*General parameters of the larger lines*/

.line-medium{
    background-color: black;
    width: 55px;
    height: 4px;
    margin: 15px 0 0 0;
}
        /*General parameters of the larger lines*/

.line-small {
    background-color: black;
    width: 29px;
    height: 2px;
    margin: 62px 0 0 0;
}
    /*General parameters of the smaller lines*/

header {
    display:flex;
    justify-content: space-between;
    height: 0px;
}
    /* Parameters of the header */
#logo {
    font-size: 22px;
    font-weight: 800;
    margin: 45px 0 10px 40px;
}
    /*Parameters of the logo Lo on the left top corner of the website */
header nav {
    margin: 45px 0 0 0;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-around;
    width: 500px;
}
    /*Parameters of the nav of the header*/

header nav ul{
    display: flex;
    justify-content: space-around;
    width: 400px;

}
    /*Parameters of the ul in the nav of the header*/

#link-border {
    border: 2px solid black;
    font-size: 13px;
    letter-spacing: 2px;
    padding: 10px 22px 7px 22px;
    border-radius: 2.5px;
}
    /* Parameters of the link "SUBSCRIBE" */

.primary-section{
    background-image: url(../images/vecteezy_top-view-monstera-other-leaves-with-copy-space-high-quality-beautiful-photo-concept_2996065.jpg);
    background-attachment: inherit;
    background-size: cover;
    height: 800px;
    border: 20px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    /*Parameters of the section of the "LOREM ipsum dolor" h1 */

.letter1{
    animation: becomegreen1 15s;
}

@keyframes becomegreen1{
    0%{
        opacity: 70%;
        color: rgba(33, 78, 15, 0);
    }
    
    30%{
        color: rgb(33, 78, 15);
    }
}

.letter2{
    animation: becomegreenandbig 14s;
}

@keyframes becomegreenandbig{
    0%{
        opacity: 70%;
        font-size: 30px;
        color: rgba(33, 78, 15, 0);
    }
    
    40%{
        color: rgb(33, 78, 15);
    }
}

.letter3{
    animation: becomegreen3 13s;
}

@keyframes becomegreen3{
    0%{
        opacity: 70%;
        color: rgba(33, 78, 15, 0);
    }

    50%{
        color: rgb(33, 78, 15);
    }
}

.letter4{
    animation: becomegreen4 12s;
}

@keyframes becomegreen4{
    0%{
        opacity: 70%;
        color: rgba(33, 78, 15, 0);
    }

    60%{
        color: rgb(33, 78, 15);
    }
}

.letter5{
    animation: becomegreen5 11s;
}

@keyframes becomegreen5{
    0%{
        opacity: 70%;
        color: rgba(33, 78, 15, 0);
    }

    70%{
        color: rgb(33, 78, 15);
    }
}


.primary-section h1{
    font-size: 100px;
    letter-spacing: 2px;
}
    /*Parameters of the h1 "LOREM "  in the primary section */



.secondary-section {
    background-color: #F4F6F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 0 0 174px 0;
}
    /*Parameters of the sections with the three plants cards*/

.secondary-section h2 {
    margin: 134px 0 0 0;
}
    /*Parameters of the h2 in the plants items block*/

.plants-bloc{
    width: 80%;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    margin: 67px auto 0 auto;
}
    /*Parameters of the plants bloc*/

.plants-bloc figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    text-align: center;
    box-shadow: 0px 9px 38px -7px #0000007a, 0px 32px 25px -27px #00000047;
    padding: 0 0 62px 0;
}
    /*Parameters of the figure int the plants-bloc*/

.plants-bloc figure img{
    object-fit: contain;
    width: 100%;
}
    /*Parameters of the img of the cards in the plants bloc figure*/
.plants-bloc p{
    margin: 20px 0 10px 0;
    line-height: 27px;
}
    /*Parameters of the p of the cards in the plants-bloc figcaption*/

.tertiary-figure{
    display: flex;
}
    /*Parameters of the figure "ABOUT"*/

.tertiary-figure img{
    width: 50%;
}
    /*Parameters of the img in the figure "ABOUT"*/
        
.tertiary-figure figcaption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
    /*Parameters of the figcaption in the figure "ABOUT"*/

.tertiary-figure p{
    width: 70%;
    text-align: justify;
    line-height: 30px;
    margin: 88px 0 0 0;

}
    /*Parameters of the p in the figure "ABOUT"*/

.quaternary-section {
background-color: #E1E6E0 ;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 156px 0 198px 0;
}
    /*Parameters of the section to "SUBSCRIBE"*/

.quaternary-section h2{
    margin:  0 0 20px 0;
}
    /*Parameters of the h2 "SUBSCRIBE" in  the section to "SUBSCRIBE"*/

.quaternary-section h3{
    font-weight: 400;
    margin: 0 0 25px 0;
}
    /*Parameters of the h3 "Sign-up" in  the section to "SUBSCRIBE"*/
.quaternary-section form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 500px;
    height: 60px;
    border: 5px solid rgba(249, 255, 247, 0.336);
    background-color: rgb(241, 243, 240);
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 400;
}
    /*Parameters of the input in  the section to "SUBSCRIBE"*/

.quaternary-section button {
        background-color: initial;
        height: 38px;
        width: 141px;
        border: 2px solid black;
        margin: 30px 0 0 0;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 3px;
        padding: 7px 0 4px 0;
}
    /*Parameters of the button "SUBMIT" in  the section to "SUBSCRIBE"*/
.plants-names-section{
        background-color: #16302399;
        padding: 70px 20px 70px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
}
    /*Parameters of the section with the plants names*/

.plants-names-section h2{
    margin: 23px 0 0 0;
    color: white;
}
    /*Parameters of the h2 in the section with the plants names*/
.white-bar{
    background-color: white;
    height: 2px;
    width: 30px;
}

.plants-names-bloc{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(15, 40px);
        grid-gap: 5px;
        margin: 40px 0 0 0;
        width: 90%;
}
    /*Parameters of the plant's name container*/

.plants-names-bloc  a {
        color: white;
        border:1px solid white;
        border-radius: 1px;
}
    /*Parameter to color the text the names plants in white*/

.plants-names-bloc div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding: 70px 5px 0 5px;
}
    /*Under you can see each plants name position*/
#plant1{
    grid-area: 1/1/5/2;
}

#plant2{
    grid-area: 1/2/5/3;
}

#plant3{
    grid-area: 5/1/8/3;
}

#plant4{
    grid-area: 1/7/5/9;
}

#plant5{
    grid-area: 12/3/16/5;
    background: url(../images/pexels-cottonbro-5858235.png) 8% 15% fixed no-repeat;
}

#plant6 {
    grid-area: 9/9/12/11;
}

#plant7{
    grid-area: 1/6/9/7;
    background: url(../images/pexels-katarzyna-modrzejewska-7494831.png) 64% 2% fixed no-repeat
}

#plant8{
    grid-area: 12/1/16/3;
}

#plant9{
    grid-area: 5/8/9/10;
    background: url(../images/pexels-anca-7189356.png) fixed right no-repeat;
}

#plant10{
    grid-area: 12/6/16/8;
}

#plant11{
    grid-area: 8/5/16/6;
}

#plant12{
    grid-area: 8/1/12/2;
    background: url(../images/pexels-yufan-jiang-9935749.png) 0% -33% fixed no-repeat;
}

#plant13{
    grid-area: 1/3/8/4;
    background: url(../images/pexels-prachot-yuenyong-8155407.png) 17% 30% fixed no-repeat;
}

#plant14{
    grid-area: 12/10/16/11;
    background: url(../images/pexels-yufan-jiang-9935762.png) -5% 5%fixed;
}

#plant15{
    grid-area: 1/4/5/6;
}

#plant16{
    grid-area: 1/9/5/11;
}

#plant17{
    grid-area: 8/2/12/4;
}

#plant18{
    grid-area: 9/8/16/9;
}

#plant19{
    grid-area: 5/10/9/11;
}

#plant20{
    grid-area: 12/9/16/10;
}

#plant21{
    grid-area: 5/4/8/6;
}

#plant22{
    grid-area: 9/6/12/8;
}

#plant23{
    grid-area: 8/4/12/5;
}

#plant24{
    grid-area: 5/7/9/8;
}

footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 90px 107px 90px 70px;
}
    /*Parameters of the footing*/
.social-net{
        display: flex;
        justify-content: space-between;
        width: 10%;
}
    /*Parameters of the social-network links*/
.round-logo{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
    /*Parameters of the circle div around social logos*/
footer ul{     display: flex;
    justify-content: space-between;
    width: 20%;
}
    /*Parameters of the ul in the nav's footer*/










